<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="index.css">
    <title></title>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src=https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/localforage/1.7.3/localforage.min.js></script>


    <meta name="viewport" content="width=device-width, initial-scale=1" />

  </head>

  <body>

    <nav>

      <ul>

        <!-- <li><a href="portfolio.html">Playlist Maker</a></li>
        <li><a href="portfolio.html">Song Reccomender</a></li>
        <li><a href="portfolio.html">Sign In</a></li> -->
        <li><a href="Home.html">Home</a></li>
      </ul>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

        <br>
        <br>
        <br>
        <br>
        <br>



<div id="app">
  <template v-if="me">


        <template v-if="top">
          {{top}}

        </template>
        <template v-else>
            <button id="this-top" @click="topsongs">Get Top Songs?</button>:
            <br>
            <br>
            <input type="checkbox" id="extra-songs" >Check to search more songs(will take more time)</input>

        </template>
  </template>
  <template v-else>
    <button @click="login">Login with Spotify</button>




  </template>
</div>

<!-- <input id="topsongs" type="button" value="Get Top Songs?" onclick="topsongs();" />


  <div id="T"></div> -->

<ul class ="list2" id = "list">
<!-- <div class="container">
  <div class="number">
    1
  </div>
        <div class="img-container">
          <img class = "realimg"src="https://i.scdn.co/image/ab67616d00001e02c130f5db3e87578f3db0c048">
        </div>
        <div class="text-container">
            <div class="product-info">wJETSKI (feat. Lil Mosey & Lil Tecca)</div>
            <div class="product-info">Internet Money, Lil Tecca,Lil Mosey </div>
        </div>
    </div>

    <br> -->

    </ul>

    <script src="main.js"></script>


  </body>
</html>
