
  nav ul {
    text-align: center;
      position: fixed;
      list-style-type: none;
      margin: 0;
      width: 100%;
      padding: 0;
      overflow: hidden;
      background-color: #0D0B35;
      font-family: 'Rubik', sans-serif;
  }
  nav li {
    float: left;
  }

  nav li a {
    display: block;
    color: white;
    padding: 22px 16px 16px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
  }
     .container {
          width: auto;
          margin: auto;
          border: 1px solid red;
          overflow: hidden;
          height: auto;
          float: left;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        .img-container {
          float: left;
          border: 1px solid red;
          width: 125px;
          height: 125px;
          margin-top: 10px;
          margin-bottom: 10px;
          margin-left: 4px;
        }

        .text-container {
          border: 1px solid green;
          float: left;
          width: auto;
          height: auto;
          margin-left: 10px;
          margin-right: 10px;
          margin-bottom: auto;
          margin-top: 15px;
        }

        .product-info {
          border: 1px solid blue;
          height: auto;
          margin-left: 5px;
          margin-right: 5px;
          margin-top: 5px;
          margin-bottom: 5px;
          overflow: hidden;
          font-size: 40px;
        }
